

/* profile photo */
.profile {
  cursor: pointer;
  height: 25px;
  width: 25px;
  border-radius: 25px;
}

/* search bar in app bar */

/* border of search bar when focus */
input[type="search"]:focus {
  outline: none;
}

/* style for logo and openMenu  */
.logo-openMenu {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.MuiPopover-paper {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  overflow: -moz-scrollbars-none; /* Firefox */
}

.MuiPopover-paper::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}