.combine_section_input_group {
  margin-top: -20px;
  padding: 20px;
  border: 2px dashed #9d9d9d;
  background: #fafafa;
}
.drag_img {
  margin-left: 34%;
}
.drag_test {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #090909;
  margin-top: 10px;
}
.browser_text {
  margin-left: 40% !important;
  font-size: 12px;
  color: blue !important;
}
.upload_complete {
  border: 1px solid lightgrey;
  padding: 14px;
  background: linear-gradient(
    249.26deg,
    rgba(255, 255, 255, 0) 19.93%,
    rgba(41, 175, 1, 0.2) 120.02%
  ) !important;
  border-radius: 4px;
}
.upload_error {
  border: 1px solid lightgrey;
  padding: 14px;
  background: linear-gradient(
    249.26deg,
    rgba(255, 255, 255, 0) 19.93%,
    rgba(255, 78, 78, 0.2) 120.02%
  ) !important;
  border-radius: 4px;
}
.fw_400 {
  font-weight: 400 !important;
}
.upload_ui_design{
    position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 700px;
  height: auto;
  transform: translate(-50%, -50%);
  
  border-radius: 2px solid;
  padding: 40px;
}