/* display grid */
.display_Grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 20px;
  gap: 20px;
}
/* input field display */
.input_field_display {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* border dashed */
.border-dashed {
  border: 2px dashed #9d9d9d;
  padding: 20px;
}
/*  UI design */
.modal_ui {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 700px;
  transform: translate(-50%, -50%);
  box-shadow: 24px;
  border-radius: 1px solid;
  padding: 40px;
}
