* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}
/* css variables */
:root {
  --color_primary: #0d80d8;
  --font_12: 12px !important;
}
/* /////////////////////////////// */
/* ////////////////Global Class/////// */
/* //////////////////////////////// */
.color_primary {
  color: var(--color_primary) !important;
}

/* active link for side bar */
.active {
  margin: 10px;
  background-color: var(
    --color_primary
  ) !important;
  border-radius: 5px;
}
/* css cursor */
.cp {
  cursor: pointer;
}

/* global font size */

.fs_12 {
  font-size: 12px !important;
}

.fs_16 {
  font-size: 16px !important;
}

.fs_14 {
  font-size: 14px !important;
}
.fs_13 {
  font-size: 13px !important;
}
.fs_24 {
  font-size: 24px !important;
}

/* global font weight   */
.fw_400 {
  font-weight: 400 !important;
}

.fw_600 {
  font-weight: 600 !important;
}

/* css for scroll bar - hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color_primary);
}

/* css for scroll bar  */
::-webkit-scrollbar-thumb {
  background: var(--color_primary);
  border-radius: 5px;
}

/* css for backgroud of scroll bar */
::-webkit-scrollbar {
  background: #efefef;
  max-width: 10px;
  height: 10px;
}

/* css for main content */
.main_content {
  height: 100%;
  max-height: 95vh;
  overflow: auto;
}

/* /////////////////////////////// */
/* ////////////////Global Class/////// */
/* ////////////////signin, signup and reset password/////// */
/* //////////////////////////////// */
.signing-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px;
  border-radius: 25px;
  border: 1px solid #e6e4e4;
  cursor: pointer;
}
.google-signingBtn-bg {
  background-color: transparent;
}
.google-signingBtn-bg:hover {
  background-color: #e6e4e4;
}
.signing-btn-bg {
  background-color: var(--color_primary);
}
.signing-btn-bg:hover {
  background-color: var(--color_primary);
}
/* center any item in the page */
.container-center {
  display: grid;
  place-items: center;
  min-height: 100vh;
}
/* auth page screen size */
.auth-screen-size {
  margin-top: 50px;
  margin-bottom: 50px;
}
/* display flex Globally */
.global-display-flex {
  display: flex;
  justify-content: center;
}

/* css for navbar */
.navbar {
  width: 100%;
  border-bottom: 1px solid lightgrey;
  background-color: transparent;
  overflow: auto;
  display: flex;
  justify-content: space-between;
  height: 49px;
  padding: 10px 20px;
}

/* profile photo */
.profile {
  cursor: pointer;
  height: 25px;
  width: 25px;
  border-radius: 25px;
}

/* search bar in app bar */
.search input[type="search"] {
  width: 300px;
  padding: 6px;
  font-size: var(--font_12);
  border: 1px solid lightgray;
  border-radius: 5px;
}
/* border of search bar when focus */
input[type="search"]:focus {
  outline: none;
}
