* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}
/* /////////////////////////////// */
/* ////////////////Global Class/////// */
/* ////////////////signin, signup and reset password/////// */
/* //////////////////////////////// */
.signing-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px;
  border-radius: 25px;
  border: 1px solid #d9d9d9;
  cursor: pointer;
}
.google-signingBtn-bg {
  background-color: transparent;
}
.google-signingBtn-bg:hover {
  background-color: #d1d1d1;
}
.signing-btn-bg {
  background-color: #0d80d8;
}
.signing-btn-bg:hover {
  background-color: #0669b4;
}
/* center any item in the page */
.container-center {
  display: grid;
  place-items: center;
  min-height: 100vh;
}
/* display flex Globally */
.global-display-flex {
  display: flex;
  justify-content: center;
}
