* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}
/* /////////////////////////////// */
/* ////////////////Global Class/////// */
/* //////////////////////////////// */

:root {
  --main-color: #0d80d8;
  --main-bg: #03001c;
}
.active {
  margin: 10px;
  background-color: #0d80d8 !important;
  border-radius: 5px;
}
.cp {
  cursor: pointer;
}
.fs_12 {
  font-size: 12px !important;
}

.fs_16 {
  font-size: 16px !important;
}

.fs_14 {
  font-size: 14px !important;
}

.fw_400 {
  font-weight: 400 !important;
}

.fw_600 {
  font-weight: 600 !important;
}

::-webkit-scrollbar-thumb:hover {
  background: #111827d1;
}

::-webkit-scrollbar-thumb {
  background: #111827;
  border-radius: 5px;
}

::-webkit-scrollbar {
  background: #efefef;
  max-width: 10px;
  height: 10px;
}

/* /////////////////////////////// */
/* ////////////////Global Class/////// */
/* ////////////////signin, signup and reset password/////// */
/* //////////////////////////////// */
.signing-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px;
  border-radius: 25px;
  border: 1px solid #e6e4e4;
  cursor: pointer;
}
.google-signingBtn-bg {
  background-color: transparent;
}
.google-signingBtn-bg:hover {
  background-color: #ececec;
}
.signing-btn-bg {
  background-color: var(--main-color);
}
.signing-btn-bg:hover {
  background-color: #0669b4;
}
/* center any item in the page */
.container-center {
  display: grid;
  place-items: center;
  min-height: 100vh;
}
/* display flex Globally */
.global-display-flex {
  display: flex;
  justify-content: center;
}


/* css for navbar */

.navbar {
  width: 100%;
  background-color: var(--main-bg);
  overflow: auto;
  display: flex;
  justify-content: center;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: var(--main-bg);
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
